/* break points */
$break-point-sm: 640px;
$break-point-md: 768px;
$break-point-lg: 1024px;
$break-point-xl: 1280px;
$break-point-xxl: 1536px;

/* content width */
$content-width: 85vw;
$content-width-sm: 600px;
$content-width-md: 720px;
$content-width-lg: 960px;
$content-width-xl: 1180px;
$content-width-xxl: 1400px;

/* colors */
$color-black: #333;
