<%- include('/layout/header', {
  meta: {
    title: 'ABOUT',
    description: '',
  },
}) %>

<div id="app"></div>
<div class="container">
  <a href="/">Top</a>
  <img src="../../src/images/image.png" style="width: 100%; margin-top: 50px;" />
</div>

<%- include('/layout/footer') %>
