<%- include('/header.ejs') %>

<div id="app"></div>
<div class="container">
  <img src="../src/images/image.png" style="width: 100%;" />
  <img src="~~src/images/image.png" style="width: 100%;" />
  <img src="~src/images/image.png" style="width: 100%;" />
  <img src="~images/image.png" style="width: 100%;" />
</div>

<%- include('/footer.ejs') %>
