<%- include('/header.ejs') %>

<style>
  .title {
    text-align: center;
  }
</style>
<div id="app"></div>
<img src="../src/images/image.png" style="max-width: 100%;" />
<img src="~~src/images/image.png" style="max-width: 100%;" />
<img src="~src/images/image.png" style="max-width: 100%;" />
<img src="~images/image.png" style="max-width: 100%;" />

<%- include('/footer.ejs') %>
